In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("correlation.csv")
df.sort_values('r_square', ascending=False).head()

     amu  astd  dmu  dstd  r_square
395   40    10  100    10  0.740654
368   40     5  100    10  0.739075
341   40     0  100    10  0.738178
394   40    10  100     5  0.733116
340   40     0  100     5  0.732921